.create_hs_cstm {
    margin-bottom: 120px;

    & .btn_back_lnk {
        margin-bottom: 120px;

        & .btn_back {
            width: 100px;
            margin: auto;
            background-color: $mainColor;
            color: #ffffff;
            border-radius: 15px;
            border: transparent;
            cursor: pointer;
            padding: 10px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .form_div_mb {
        margin-bottom: 20px;

        & label {
            color: $mainColor;
            font-size: 18px;
            margin-left: 20px;
        }

        & input.txt_input_cr {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #bfbfbf;
            outline: none;
            vertical-align: middle;

            &:focus {
                border: 2px solid $mainColor;
            }

            &:focus ::placeholder{
                color: green;
            }

            &::placeholder {
                font-size: 12px;
            }
        }
    }
}