header {
    & .navbar-expand-md{
        & .cont_flex {
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            & a.navbar-brand img {
                height: auto;
                max-width: 100px;
                margin-right: 30px;
            }

            & .index_form {
                width: 80%;
        
                & .add_input_search {
                    display: flex;
            
                    & #address-input {
                        width: 100%;
                        border-radius: 20px;

                        &::placeholder {
                            color: #BFBFBF;
                        }
                    }
            
                    & .index_search_btn{
                        width: 100px;
                        margin-left: 20px;
                    }
                }
            }
        }

        & #navbarSupportedContent {
            & .navbar-nav {
                display: flex;
                align-items: center;
            }

            & .nav-item {
                margin-left: 15px;
            }
        }
    }
    
}