header {
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    top: 0;

    & .navbar-expand-md {
        & .cont_flex {
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            // Left Side Of Navbar
            & a.navbar-brand img {
                height: 40px;
            }

            // Central Side Of Navbar / Input Search
            & .index_form {
                margin: 0 30px;
                @media screen and (max-width: 576px) {
                    display: none;
                }
        
                & .add_input_search {
                    display: flex;
            
                    & #address-input {
                        border-radius: 20px;

                        &::placeholder {
                            color: #BFBFBF;
                            font-size: 12px;
                            font-style: italic;
                        }
                    }

                    & .ap-dropdown-menu {
                        border-radius: 10px;
                        font-size: 12px;
                    }
            
                    & .index_search_btn{
                        width: 100px;
                        margin-left: 10px;
                        background-color: $mainColor;
                        color: #ffffff;
                        border-radius: 20px;
                        border: transparent;
                        cursor: pointer;

                        &:hover {
                            background-color: radial-gradient(
                                at center,  rgba(254,222,161,1), rgba(186,81,96,1)
                            );
                        }
                    }
                }
            }

            // Right Side Of Navbar
            & #navbarSupportedContent {

                & .navbar-nav {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @media screen and (max-width: 768px) {
                        display: none;
                    }

                    & a.nav-link {
                        text-transform: uppercase;
                        font-size: 14px;

                        &:hover {
                            color: $mainColor;
                        }
                    }

                    & .welcome_list {
                        text-align: right;
                        position: relative;

                        & .welcome_name {
                            font-size: 14px;
                        }

                        & .tend_menu {
                            background-color: #BFBFBF;
                            z-index: 10;
                            position: absolute;
                            right: 0;
                            top: 135%;
                            padding: 20px;
                            border-radius: 10px;
                            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

                            & .cont_tend_menu {
                                & .your_houses {
                                    font-size: 14px;
                                    color: #ffffff;
                                    margin-bottom: 10px;

                                    &:hover {
                                        color: $mainColor;
                                    }
                                }
                            }

                            & .cont_tend_menu {
                                & .message_link {
                                    font-size: 14px;
                                    color: #ffffff;
                                    margin-bottom: 10px;

                                    &:hover {
                                        color: $mainColor;
                                    }
                                }
                            }
                            
                            & .dropdown-menu-right {
                                text-transform: uppercase;
                                
                                & .dropdown-item {
                                    font-size: 14px;
                                    color: #ffffff;

                                    &:hover {
                                        color: $mainColor;
                                    }
                                } 
                            }

                            & .cont_tend_menu:not(:last-child) {
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #ffffff;
                            }
                        }
                        
                    }
                }

                & .nav-item:not(:first-child)::before {
                    padding: 5px 1px;
                    margin: 0 10px;
                    content: "";
                    background-color: #BFBFBF;
                    @media screen and (max-width: 768px) {
                        padding: 0;
                        margin: 0;
                    }
                }

                //hamburger menu
                & .hambrg_menu {
                    text-align: right;
                    @media screen and (max-width: 768px) {
                        display: block;
                        position: relative;
                    }

                    & .hamb_icon{
                        font-size: 20px;
                        color: #BFBFBF;
                        border: 1px solid #BFBFBF;
                        padding: 10px 12px;
                        border-radius: 50px;
                        cursor: pointer;
                    }

                    @media screen and (max-width: 768px) {
                        & .hamb_auth {
                            display: flex;
                            background-color: #BFBFBF;
                            z-index: 10;
                            flex-direction: column;
                            position: absolute;
                            top: 120%;
                            right: 0;
                            padding: 20px;
                            border-radius: 10px;
                            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
                            

                            & .nav-item {
                                & a.nav-link {
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    color: #ffffff;
            
                                    &:hover {
                                        color: $mainColor;
                                    }
                                }

                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #ffffff;
                                }
                            }

                            & .nav-item.dropdown {
                                
                                & .nav-link.dropdown-toggle.profile_link {
                                    text-transform: uppercase;
                                    font-size: 18px;
                                    color: #ffffff;

                                    & .profile_icon {
                                        padding-bottom: 10px;
                                        margin-bottom: 10px;
                                    }
            
                                    &:hover {
                                        color:$mainColor;
                                    }
                                }

                                & .nav-link.dropdown-toggle.message_link {
                                    border-top: 1px solid #ffffff;
                                    border-bottom: 1px solid #ffffff;
                                    padding: 10px 0;
                                    margin: 10px 0;
                                }

                                & .dropdown-menu-right {
                                    padding-top: 10px;
                                    margin-top: 10px;

                                    & .dropdown-item.logout_link {
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        color: #ffffff;
                                        padding-top: 10px;
                                        margin-top: 10px;

                                        &:hover {
                                            color: $mainColor;
                                        }
                                    }
                                }
                            }
                        }
                    }  
                }
            }
        }
    }  
}