//Box elementi
.show-box{
    padding:20px 0 30px;
    border-bottom: 1px solid #c6c6c6;

}

//Titolo principale casa show
.show-title{
    font-size: 40px;
    font-weight: 900;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 20px;
    

    &::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: $mainColor;
        vertical-align: middle;
        padding: 10px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 100px;
    }

}

//Tipo show
.house-type{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
}

//Titoli elementi box
.show-list-title{
    font-size: 20px;
    font-weight: 800;
    margin-top: 12px;
    margin-bottom: 18px;

    &::before{
        content: "";
        width: 5px;
        height: 5px;
        background-color: $mainColor;
        vertical-align: middle;
        padding: 5px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 100px;
        // transform: rotate(45deg);
    }
}

.show-list-description{
    margin-bottom: 12px;
    width: 100%;
    line-height: 20px;
    text-align: justify;
}

//Immagine
.show-img{
    border-radius: 10px;
    width: 550px;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;


    img{     
        object-fit: cover;
        
    }

}

    @media (max-width: 768px){
        .show-img{
            width: 350px;
            height: 350px;
        }
    }



//Sottotitolo infoshow
.show-subinfo{
    display: flex;
    border-bottom: 1px solid #c6c6c6;

    li{
        margin: 15px 0;
      

            &::after{
                content:"";
                background-color: $mainColor;
                vertical-align: middle;
                padding: 2px;
                display: inline-block;
                border-radius: 100px;
                margin: 0 10px;

            }

            &:last-child:after{
                 content: none;

            }
    }
}


//Informazioni casa
.show-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;

    .show-house{
        display: flex;
        flex-direction: column;
    
    }

    .recap{
        // display: flex;
        // flex-wrap: wrap;
        // width: 100%;
        // justify-content: space-between;
        
        
        li{
            width: 150px;
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid #c6c6c6;
            margin-top: 20px;

            &:nth-child(odd){
                margin-right: 15px;
            }
            
        }
    
       
    }

    @media (max-width: 768px){
        .recap{
            justify-content: space-between;
            padding: 0 15px;
        }
    }

    .show-services{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        li{
            width: calc(100% / 2);
            padding: 15px 20px;
        }
    }

    .service-icon{
        max-width: 55px;
        padding:15px 15px 15px 0;
        vertical-align: middle;

        &:last-child{
            margin-bottom: 0px;
        }
    }




    //Box Azioni Admin
    .admin-action{
        display: flex;
        justify-content: flex-end;
        padding:20px 8px;

        #modal-delete{
            display: none;
        }

       

        a{
            color: $mainColor;
            font-weight: 800;
            padding:0 10px;

            &:first-child{
            border-right: 1px solid $textColor;
            }

            &:hover{
                color: #e7697c;
            }
        }
    }
    

    //Box Destro
    .highlight{
        width: 350px;
        max-height: 200px;
        padding: 20px;
        border-radius: 10px;
        justify-content: space-between;
        border: 1px solid #c6c6c6;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2); 
        box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.2);
        margin-top: 30px;
        // margin-left: 45px;

        
        .show-list-title::before{
            content: none;
        }
    
        .price{
            color: $mainColor;
            font-size: 30px;
            font-weight: 500;
            display: inline-block;
            margin-left: 8px;
        }
    
        .message{
            align-self: center;

        }
    }
}

@media (max-width: 768px){
    .show-info{
        flex-direction: column-reverse;
        

        .highlight{
            align-self: center;
        }
    }


}